/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
/storage/debugbar/
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea/*
!/.idea/deployment.xml
!/.idea/webServers.xml
/resources/data/menu-data/verticalMenu-bkup.json
/resources/js/scripts/pages-bkup/
/public/js/scripts/pages-bkup/
/public/.htaccess
/resources/images/ico/*.*
/resources/images/logo/favicon.ico
