    .bs-stepper.vertical .bs-stepper-header {
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: nowrap;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 1rem;
        max-height: 600px;
    }

    .bs-stepper .bs-stepper-header .step {
        margin-bottom: 0.5rem;
        margin-top: 0;
        margin-right: 0;
    }

    .bg-purple {
        background-color: rgba(181, 125, 200, 0.5);
    }

    .text-purple {
        color: #9a59b1;
    }

    .btn-purple {
        color: #fff;
        background-color: #9a59b1;
        border-color: #9a59b1;
    }

    .btn-purple:hover {
        color: #fff;
        background-color: #7f4992;
        border-color: #7f4992;
    }

    .btn-check:focus+.btn-purple,
    .btn-purple:focus {
        color: #fff;
        background-color: #7f4992;
        border-color: #7f4992;
        box-shadow: 0 0 0 0.25rem rgba(181, 125, 200, 0.5);
    }

    .btn-check:checked+.btn-purple,
    .btn-check:active+.btn-purple,
    .btn-purple:active,
    .btn-purple.active,
    .show>.btn-purple.dropdown-toggle {
        color: #fff;
        background-color: #7f4992;
        border-color: #7f4992;
    }

    .btn-check:checked+.btn-purple:focus,
    .btn-check:active+.btn-purple:focus,
    .btn-purple:active:focus,
    .btn-purple.active:focus,
    .show>.btn-purple.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.25rem rgba(181, 125, 200, 0.5);
    }

    .btn-purple:disabled,
    .btn-purple.disabled {
        color: #fff;
        background-color: #9a59b1;
        border-color: #9a59b1;
    }

    $modal-slide-in-width-xlg: 50rem !default;

    .modal-slide-in {
        .modal-dialog {
            &.sidebar-xlg {
                @media (min-width: 576px) {
                    width: $modal-slide-in-width-xlg;
                }
            }
        }
    }

    .fc-v-event .fc-event-title {
        width: 65%;
        display: block;
        font-size: 0.75rem;
    }

    .fc-timegrid-event .fc-event-main {
        color: #000;
    }

    .autocomplete-suggestions {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid #999;
        background: #FFF;
        cursor: default;
        overflow: auto;
        -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
        -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
        box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    }

    .autocomplete-suggestion {
        padding: 2px 5px;
        white-space: nowrap;
        overflow: hidden;
    }

    .autocomplete-no-suggestion {
        padding: 2px 5px;
    }

    .autocomplete-selected {
        background: #F0F0F0;
    }

    .autocomplete-suggestions strong {
        font-weight: bold;
        color: #000;
    }

    .autocomplete-group {
        padding: 2px 5px;
        font-weight: bold;
        font-size: 16px;
        color: #000;
        display: block;
        border-bottom: 1px solid #000;
    }

    .form-select-control.is-invalid {
        border: 1px solid #ea5455;
        border-radius: .357rem;
    }


    #dashboard-analytics .card .card-header {
        flex-wrap: wrap !important;
    }

    #dashboard-analytics .card .card-header .col-2,
    #dashboard-analytics .card .card-header .col-4 {
        width: auto;
        margin-right: .825rem;
        margin-bottom: 1rem !important;
    }



    #dashboard-analytics .card .card-header .col-8,
    #dashboard-analytics .card .card-header .col-7 {
        width: auto;
        flex-wrap: wrap;
        flex: 1 0 0%;
        display: flex !important;
        flex-wrap: wrap;
    }

    .breadcrumbs-top>.col-12 {
        display: flex;
        flex-direction: column-reverse;
    }

    .breadcrumbs-top>.col-12 ol.breadcrumb {
        padding-left: 0;
        margin-bottom: 0.25rem;
        display: inline-flex;
    }

    @media (max-width:799px) {

        #dashboard-analytics .card .card-header .col-8,
        #dashboard-analytics .card .card-header .col-7 {
            flex-wrap: nowrap
        }

        .wp-block-image img {
            max-width: 100%;
        }

        .blog-detail-wrapper .card-body {
            padding: 1rem;
        }

        #accordionRelatedContent .accordion-collapse>hr {
            display: none;
        }

        #accordionRelatedContent .accordion-collapse {
            background-color: hsla(213, 4%, 53%, .12) !important;
        }

        #accordionRelatedContent .accordion-collapse>hr+div.py-2 {
            padding-top: 0 !important;
        }

        .blog-detail-wrapper .gutenberg__content {
            margin-left: 0;
        }

        .blog-detail-wrapper a {
            word-break: break-word;
        }

        .blog-detail-wrapper .section-label {
            white-space: nowrap;
        }

        .horizontal-layout.navbar-floating:not(.blank-page) .app-content {
            padding: 12.2rem 1.25rem 0;
        }

        html [data-col="1-column"].horizontal-layout .app-content {
            padding: 5.75rem 1.25rem 0 !important;
        }

        .bs-stepper.vertical .bs-stepper-header {
            align-items: flex-start;
            flex-direction: column;
            flex-wrap: nowrap;
            overflow-y: auto;
            overflow-x: hidden;
            padding: 1rem;
            max-height: 600px;
        }

        .bs-stepper .bs-stepper-header .step {
            margin-bottom: 0.5rem;
            margin-top: 0;
            margin-right: 0;
        }

        .accordion-button>.d-flex.flex-row {
            flex-direction: column !important;
        }

        .accordion-button>.d-flex.flex-row .badge {
            margin-bottom: .25rem;
            display: inline-block;
            margin-right: 0 !important;
            width: 120px;
        }

        footer.footer {
            position: static;
        }

        .wp-block-table>table>tbody>tr {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
        }

        html [data-col="1-column"] .header-navbar.floating-nav {
            width: calc(100% - 2.4rem) !important;
        }

        .content-body>.blog-detail-wrapper.mt-2 {
            margin-top: 0 !important;
        }


    }

    @media (max-width:1199px) {
        footer.footer {
            position: static;
        }
    }

    #post-detail {
        .card-body {

            p,
            ul li,
            ol li {
                font-size: 16px;
                color: #000;
                font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            }
        }
    }

    .dark-layout {
        #post-detail {
            .card-body {

                p,
                ul li,
                ol li {
                    font-size: 16px;
                    color: #fff;
                    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
                }
            }
        }
    }


    .gutenberg__content .alignleft {
        float: none !important
    }

    .select2-container--default .select2-results>.select2-results__options {
        max-height: 460px;
        overflow-y: auto;
    }

    .nav-highlight {
        animation: pulse 1.5s infinite;
    }

    @keyframes pulse {
        0% {
            transform: scale(1);
            opacity: 1;
        }

        50% {
            transform: scale(1.2);
            opacity: 0.6;
        }

        100% {
            transform: scale(1);
            opacity: 1;
        }
    }

    .attention {
        animation: wiggle 0.5s ease-in-out infinite alternate;
    }

    @keyframes wiggle {
        0% {
            transform: rotate(-1deg);
        }

        100% {
            transform: rotate(1deg);
        }
    }

    //.cke_notifications_area {
    //    display: none !important;
    //}
