body{
    overflow-x: hidden !important;
}

.horizontal-layout {
    .app-content{
        .content-wrapper{
            display: flex;
            flex-direction: column;
            .content-wrapper-inner{
                display: flex;
                flex-direction: row-reverse;
            }
            footer.footer{
                bottom: 0;
                width: 100%;
                background: #fff;
                height: 75px;
                margin-top: 0px;
                padding-top: 25px;
                box-shadow: 24px 0 4px 0 rgba(34, 41, 47, 0.1);
            }
        }
    }
}
footer.footer{
    bottom: 0;
    width: 100%;
    background: #fff;
    height: 75px;
    margin-top: 0px;
    padding-top: 25px;
    box-shadow: 24px 0 4px 0 rgba(34, 41, 47, 0.1);
}
.content-header .content-header-left{
    width: 100% !important;
}
.progress{
    margin: 10px 0;
    .bar-step {
        position:absolute;
        margin-top:-10px;
        z-index:1;
        font-size:12px;
        width: 120px;
    }

    .label-txt {
        float: left;
        margin-top: 26px;
        margin-left: -11px;
    }

    .label-line {
        float: right;
        background: #000;
        height: 43px;
        width: 1px;
        margin-top: -5px;
    }

    .label-percent {
        float: right;
        margin-left: 5px;
        margin-top: 26px;
    }
}
.fill_in_blank{
    border:0;
    border-bottom: 1px solid #CCCCCC;
}
.blog-detail-wrapper .gutenberg__content{
    margin-left: 15px;
}
.blog-detail-wrapper .gutenberg__content img{
    display: block;
    width: 100%;
    height: 100%;
}
.required:after {
    content:" *";
    color: #ea5455;
}
.required-after:after {
    content:" *";
    color: #ea5455;
}
.required-before:before {
    content:" *";
    color: #ea5455;
}
.matrix-destination .list-group-item{
    height: 121px !important;
    margin-right: 0px !important;
    /*flex: 1 0 auto;*/
}
.matrix-table{
    .matrix-table-choice{
        height: 120px !important;
        overflow: hidden;
        padding: 5px;
        img{
            object-fit: contain;
            height: 100%;
            aspect-ratio: auto;
        }
    }
}
.questionStep{
    &.submitted{
        .step-trigger{
            .bs-stepper-box{
                background-color: rgb(50,205,50) !important;
            }
        }
    }
    &.pending{
        .step-trigger{
            .bs-stepper-box{
                background-color: rgb(255,0,0) !important;
            }
        }
    }
}

@media print {
    .btn, input, textarea, select{
        display: none;
    }

}
