//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

// $primary: #00cfe8;

$purple: #9a59b1 !default; //$primary
$darkblue: #596cb1 !default; //$primary
